<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>

<div th:replace="~{fragments :: page-header}"></div>
<div class="container body-content">
  <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

  <!-- TODO #1 - Use a loop to display job results in a table. -->
  <!-- created table and headers for each field-->
  <table class="table job-listing"> <!--adds 'job-listing' class to the table-->
    <thead>
    <tr>
      <th>ID</th>
      <th>Employer</th>
      <th>Location</th>
      <th>Position Type</th>
      <th>Core Competency</th>
    </tr>
    </thead>
    <tbody>
    <!-- ThymeLeaf loop (th:each) loops over each job and display its details in a table row -->
    <tr th:each="job : ${jobs}"> <!-- th:replace="fragments :: jobRow(job)" -->
      <td th:text="${job.id}"></td>
      <td th:text="${job.employer.name}"></td>
      <td th:text="${job.location.name}"></td>
      <td th:text="${job.positionType.name}"></td>
      <td th:text="${job.coreCompetency.name}"></td>
    </tr>
    </tbody>
  </table>

</div>

    <!--defines a new fragment for displaying a single job -->
    <div th:fragment="jobRow(job)">
      <tr>
        <td th:text="${job.id}"></td>
        <td th:text="${job.employer.name}"></td>
        <td th:text="${job.location.name}"></td>
        <td th:text="${job.positionType.name}"></td>
        <td th:text="${job.coreCompetency.name}"></td>
      </tr>
    </div>

</body>
</html>