<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>
<!-- th:replace attribute to replace content - adds an HTML head fragment -->
<div th:replace="~{fragments :: page-header}"></div>

<div class="container body-content">

  <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
    <!-- creates form for searching and URL to direct the data -->
    <!-- th:object binds the form to a model object, post method used to submit the form -->
    <form th:action="@{/search/results}" th:object="${searchForm}" method="post">
    <h2>Search by:</h2>

    <p> <!-- iterates over each search option -->
        <!-- radio button only allows one selection at a time  -->
        <!-- th: value, id, checked all pull keys from the column and set the button when checked -->
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

    </p>
        <!-- this creates the input field for entering search terms -->
    <p>
      <label for="searchTerm">Keyword:</label>
      <input type="text" name="searchTerm" id="searchTerm" />
    </p>
        <!-- submit button for initiating search -->
    <input type="submit" value="Search" />
  </form>

  <hr />

  <!-- TODO #4 - Loop over the search results to display all job fields. -->
    <!-- table for displaying search results -->
    <table th:replace="list-jobs :: job-tables"></table>
</div>

</body>
</html>
